{% extends "base.html" %}

{% block content %}
<h1>Detalle del reporte</h1>

<p>

    <p><strong>Tipo:</strong> {{ reporte.get_tipo_display }}</p>
    <p><strong>Alumno:</strong> {{ reporte.nombre_alumno }}</p>
    <p><strong>No. control:</strong> {{ reporte.numero_control }}</p>
    <p><strong>Fecha:</strong> {{ reporte.fecha }}</p>
    <p><strong>Estado:</strong> {{ reporte.get_estado_display }}</p>
    
    {% if reporte.archivo %}
    <a href="{{ reporte.archivo.url }}" target="_blank">Descargar archivo</a>
    {% else %}
    <p>(Aún no se ha generado archivo)</p>
    {% endif %}

    <a href="{% url 'reportes:index' %}"> Volver</a>
</p>
    
{% endblock %}
